@media(max-width:1800px) {
    .right {
        max-width: 1450px;
    }
    .main {
        &__slider {
           width: 850px;
           &-title {
                max-width: 50%;
           }
        }
    }
}
@media(max-width:1750px) {
    .right {
        max-width: 1280px;
    }
    .main {
        &__slider {
           width: 730px;
           &-title {
                max-width: 50%;
           }
        }
    }
    .support {
        &__item {
            width: 400px;
        }
    }
}
@media (max-width: 1650px) {
    .header {
        max-width: 100%;
        margin: 0  auto;
    }
    .main {
        &__slider {
            max-width: 730px;
            &-title {
                max-width: 50%;
            }
        }
    }
    .support {
        &__wrapper {
            flex-wrap: wrap;
        }
    }
    .deposit {
        &__wrapper {
            flex-wrap: wrap;
            height: 210px;
        }
        &__center {
            width: 200px;
            height: 0;
        }
        &__surprise {
            width: 347px;
            height: 115%;
            right: 0;
            & > img {
                border-radius: 30px;
            }
        }
    }
}
@media(max-width:1580px) {
    .right {
        max-width: 1200px;
    }
    .main {
        &__slider {
           &-title {
                max-width: 50%;
           }
        }
        &__freemoney {
            width: 380px;
        }
    }
    .support {
        &__item {
            width: 350px;
        }
    }
}
@media(max-width:1480px) {
    .left {
        width: 220px;
    }
    .pageslink {
        &__wrapper {
            flex-wrap: wrap;
        }
        &__left {
            margin-bottom: 50px;
        }
        &__category {
            &-lists {
                gap: 10px;
            }
        }
    }
    .menu {
        width: 220px;
        &__freemoney {
            width: 100%;
            height: 40px; 
            border-radius: 12px;
            &-img {
                width: 60px;
            }
        }
        &__app {
            width: 100%;
            height: auto;
            &-wrapper {
                justify-content: center;
                align-items: center;
            }
            &-img {
                width: 32px;
                height: 32px;
                & > img {
                    width: 20px;
                }
            }
            &-descr {
                display: none;
            }
        }
        &__social {
            &-wrapper {
                flex-wrap: wrap;
                gap: 12px;
            }
        }
        &__support {
            width: 200px;
            &-wrapper {
                gap: 8px;
            }
            &-btn {
                width: 22px;
                height: 22px;
            }
        }
    }
    .header {
        &__nav {
            &-text {
                display: none;
            }
        }
    }
    .main {
        &__slider {
            &-item {
                height: 330px;
            }
        }
        &__elements {
            flex-direction: row;
        }
        &__freemoney {
            width: 190px;
            height: 330px;
            position: relative;
            &-img {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 200px;
            }
            &-wrapper {
                flex-direction: column;
            }
        }
        &__bonus {
            &-title {
                top: 60px;
                height: 0;
            }
            &-img {
                width: 200px;
                bottom: -5px;
            }
        }
    }
}
@media(max-width:1400px) {
    .left {
        width: 60px;
    }
    .right {
        max-width: 1200px;
    }
    .menu {
        width: 60px;
        padding: 2px;
        &__header {
            &-title {
                display: none;
            }
            &-chewron {
                display: none;
            }
        }
        &__freemoney {
            flex-direction: column;
            align-items: start;
            justify-content: start;
            height: 115px;
            padding: 12px 2px;
        }
        &__games {
            &-title {
                display: none;
            }
            &-chewron {
                display: none;
            }
            &-bonus {
                display: none;
            }
            &-vip {
                display: none;
            }
        }
        &__app {
            padding: 2px;
            &-wrapper {
                justify-content: center;
                align-items: center;
            }
            &-center {
                display: none;
            }
            &-title {
                display: none;
            }
            &-chewron {
                display: none;
            }
        }
        &__social {
            &-network {
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
            }
        }
        &__language {
            padding: 2px;
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: center;
            &-name {
                display: none;
            }
            &-chewron {
                display: none;
            }
        }
        &__support {
            width: 60px;
            height: 20px;
            padding: 2px;
            bottom: 0px;
            &-wrapper {
                flex-direction: column;
                gap: 10px;
            } 
            &-btn {
                width: 26px;
                height: 26px;
                & > img {
                   width: 80%;
                   height: 80%;
                }
            }  
            &-name {
                display: none;
            }  
            &-chart {
                display: none;
            }       
        }
    }
    .support {
        &__left {
            width: 99%;
            height: 88px;
        }
        &__item {
            width: 100%;
            position: relative;
            height: 100%;
            &-woman {
                display: none;
            }
            &-btn {
                width: 218px;
                position: absolute;
                top: 50%;
                right: 30px;
                transform: translateY(-50%);
            }
        }
        &__center {
            width: 45%;
        }
        &__right {
            width: 53%;
            height: 152px;
        }
    }
    .pageslink  {
        &__wrapper {
            flex-direction: column;
        }
        &__apps {
            width: 100%;
            justify-content: start;
        }
        &__item {
            &-appmobile {
                width: 70%;
            }
            &-desctop {
                width: 28%;
            }
        }
    }
}
@media(max-width:1280px) {
    .right {
        max-width: 1100px;
    }
    .main {
        &__slider {
            width: 625px;
            &-item {
                height: 250px;
            }
            &-btn {
                height: 30px;
            }
            &-title {
                font-size: 22px;
            }
        }
        &__freemoney {
            height: 250px;
            &-img {
                width: 180px;
                left: 10px;
            }
        }
    }
    .deposit {
        &__center {
            display: none;
        }
        &__surprise {
            display: none;
        }
    }
    .language {
        &__syte {
            &-top {
                display: none;
            }
        }
    }
}
@media (max-width: 1150px) {
    .right {
        max-width: 1000px;
        padding: 0 10px;
    }
    .main {
        overflow: hidden;
        &__slider {
            width: 550px;
        }
        &__freemoney {
            width: 165px;
            &-img {
                width: 155px;
            }
        }
    }
}
@media (max-width:1024px) {
    .right {
        max-width: 800px;
    }
    .main {
        &__wrapper {
            flex-direction: column;
            width: 100%;
            justify-content: center;
        }
        &__slider {
            width: 100%;
            &-item {
                width: 100%;
                height: 450px;
            }
            &-title {
                max-width: 40%;
                font-size: 22px;
            }
        }
        &__elements {
            justify-content: start;
            width: 100%;
        }
        &__freemoney {
            width: 50%;
            height: 152px;
            &-img {
                left: 48%;
                top: 50%;
                transform: translateY(-50%);
                width: 190px;
                height: 100px;
            }
        }
        &__bonus {
            &-img {
                top: 67%;
                bottom: 0;
                & > img {
                    border-radius: 12px;
                }
            }
        }
    }
    .support {
        &__left {
            width: 100%;
        }
        &__center {
            width: 100%;
        }
        &__right {
            width: 100%;
        }
    }
    .pageslink {
        &__item {
            width: 100%;
            &-desctop {
                display: none;
            }
        }
    }
}
@media (max-width:850px) {
    .right {
        max-width: 700px;
    }
}
@media (max-width:768px) {
    .columns {
        gap: 0;
        justify-content: start;
    }
    .left {
        width: 0;
    }
    .main {
        &__freemoney {
            &-img {
                left: 40%;
            }
        }
        &__bonus {
            &-img {
                left: 40%;
            }
        }
    }
    .pageslink {
        &__apps {
            flex-wrap: wrap;
            align-items: start;
            justify-content: start;
        }
    }
    .syte {
        &__wrapper {
            flex-wrap: wrap;
            gap: 20px;
        }
    }
    .header__nav {
        display: none;
    }
    .menu {
        display: none;
    }
    .menu__mobile {
        display: block;
    }
}
@media (max-width: 556px) {
    .main__slider-arrows {
        display: none;
    }
    .main {
        &__slider {
            &-item {
                height: 320px;
            }
            &-title {
                max-width: 70%;
            }
        }
    }
    .games {
        &__slider {
            &-arrows {
                display: none;
            }
        }
        &__head {
            &-logo {
                width: 30px;
                height: auto;
            }
            &-title {
                font-size: 16px;
            }
        }
        &__all {
            top: 10px;
            right: 0;
        }
    }
    .copy {
        margin-bottom: 50px;
    }
}
@media (max-width: 360px) {
    .main {
        &__slider {
            &-title {
                font-size: 18px;
            }
        }
    }
    .deposit {
        &__wrapper {
            height: 320px;
            padding: 16px;
        }
        &__left {
            &-steps {
                flex-wrap: wrap;
            }
        }
    }
    .pageslink {
        &__left {
            gap: 20px;
            flex-wrap: wrap;
        }
    }
}