$blueColor: #0075ff;
$blueColor2: #2085f9;
$darkColor: #141415;
$blackColor: #1d1e20;
$grayColor: #282829;
$grayColor2: #39393966;
$whiteColor: #ffffff;
$orangeColor: #fb8f53;
$purpleColor: #a156ff;
$greenColor: #00b14b;